

.banner-image{
	background-image: linear-gradient(rgba(195, 166, 158,0.4), rgba(195, 166, 158,0.4)), url(image/access-femme.png);
	background-size: cover;
	
	
}

 nav  .active{
 	background-color: #934F2E !important;
 }
.bg-start{
	color:  #934F2E !important;
	font-family: cursive ;
	font-size: 30px !important;
	font-weight: bold;

}
.bg-white{
	font-size: 20px !important;
	font-weight: bold  !important;
}
.size-menu{
	font-size: 18px !important;
	

}
.size-2{
	font-size: 40px !important;
	font-family: cursive ;
}
.size-1{
	font-size: 80px !important;
}
.btn{
	background-color:  #934F2E !important;
	color:white !important;
	font-size: 30px !important;
	margin-top: 20px !important;
}
@media screen and (max-width: 989){
	.btn{
		margin: auto  !important ;
	}
}
.btn1{
	border: none !important ;
}
/*partie2*/
.icone img{
	padding: 2px;
	
	background-color:#934F2E ;
	border: 1px solid #934F2E;
	border-radius: 30% 30%;
}
.couleur-noir{
	color: #212529;
}
.couleur-para{
	color: #9AA0A5;
}
/*Start timeline*/
body {

	margin: 0;
	padding: 0;
	
}

.title {
	margin-top: 40px;

}
.title h2{
	font-weight: bold;

}
/*C'est pour le contenue général*/
.timeline{
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
	box-sizing: border-box;
}
/*Pour avoir la bande vertical*/
.timeline:before {
	content: '';
	position: absolute;
	left: 50%;
	width: 4px;
	height: 100%;
	background-color: black;
}
.timeline ul{
	margin: 0;
	padding: 0;
}
.timeline ul li{
	list-style: none;
	position: relative;
	width: 50%;
	padding: 20px 40px;
	
	box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
	float: left;
	text-align: right;
	clear: both;
}
.timeline ul li:nth-child(even){
	float: right;
	text-align: left;
	clear: both;
}
.content{
	padding-bottom: 20px;
	/*border: 1px solid #eee;*/
	padding: 10px 10px;
	border-radius: 5px;
	background-color: #fff;
	text-align:justify ;
}
.timeline ul li:nth-child(odd):before{
	content:'';
	position: absolute;
	top: -3%;
	right: -80px;
	width: 150px;
	height: 150px;
	background-color: #c23941;
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.2);

}
.timeline ul li:nth-child(even):before{
	content:'';
	position: absolute;
	top: -3%;
	left: -70px;
	width: 150px;
	height: 150px;
	background-color: #c23941;
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li h3{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #303e49;
}
.timeline ul li:nth-child(odd) .content{
	margin-right: 30%;
}
.timeline ul li:nth-child(even) .content{
	margin-left: 30%;
}
.timeline ul li:nth-child(1)::before{
	background-image: url(image/image-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}
.timeline ul li:nth-child(2)::before{
	background-image: url(image/image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.timeline ul li:nth-child(3)::before{
	background-image: url(image/vimage-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.timeline ul li:nth-child(4)::before{
	background-image: url(image/image4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.timeline ul li:nth-child(5)::before{
	
	background-color: yellow !important ;
}
.timeline ul li p{
margin: 10px 0 0;
padding: 0;
line-height: 1.5;
}
/*.timeline ul li:nth-child(odd){
	float: left;
	text-align: right;
	clear: both;
}*/
/*media queries*/
@media  screen and (max-width: 800px){
	.timeline ul li:nth-child(odd){
	float: right;
	text-align: left;
	
	}
	.timeline:before {
	
	height: 98%;
	position: absolute;
	left: 6%;
}

.timeline ul li:nth-child(even)::before{
	content: '';
	position: absolute;
	height: 80px;
	width: 80px;
	background-color: black;
	border-radius: 50%;
	left:-13%;
	top: 11%;
	transform: translate(0%,-50%);
	border: 4px solid white;
}
.timeline ul li:nth-child(odd)::before{
	content: '';
	position: absolute;
	height: 80px;
	width: 80px;
	background-color: black;
	border-radius: 50%;
	left:-13%;
	top: 11%;
	transform: translate(0%,-50%);
	border: 4px solid white;
}

.timeline ul li:nth-child(even) .content{
	margin-left: -2%;
	/*text-align: center;*/
}
.timeline ul li:nth-child(odd) .content{
	margin-left: -2%;
	/*text-align: center;*/
	width: 100%;
}
 .timeline ul{
	margin: 0;
	padding: 0;
}
.timeline ul li{
	list-style: none;
	position: relative;
	width: 90%;
	padding: 20px 40px;
	border: none;
	box-sizing: border-box;
}
.content{
	padding-bottom: 20px;
	border:none;
	/*padding: 10px 10px;*/
	border-radius: 5px;
	background-color: #fff;
	/*text-align:justify ;*/
}
}
/*Fin media queries*/







/*Start team*/


.team img{
	height: 50%;
	border: 7px solid #DFE0E1;
	border-radius: 100%;
	
	
}


 .fa-twitter{
	font-size: 30px  !important;
	margin: 10px;
	background-color: white;
	color: black;
	border-radius: 100%;
}

 .fa-facebook-official{
	font-size: 30px !important;
	margin: 10px;
	background-color: white;
	color: black;
	
}
 .fa-linkedin{
	font-size: 30px !important;
	margin: 10px;
	background-color: black;
	color: white;
	border:none ;

	
}
/*Partie 4*/
.partie4{
	
	margin: 10px;
}
.partie4 a{
	font-size: 30px;
	text-decoration: none;
	margin: 10px;
	color: #CED4DA;
	font-weight: bold ;
}
.partie5{
	background-image: url(image/back.png);
	background-size: cover;
	
	height: 700px;
}
input{
	height: 40px;
	width:100%;
}
textarea{
	height: 210px;
	width: 100%;
}
@media screen and (max-width: 991px){
	.textarea{
		width: 200px !important;
	}
}

/*hover portfolio*/
/*.part1 img{
	width: 300px !important ;
}*/
.part1{
	
  position: relative;
  overflow: hidden;
}
.part1:hover .overlay{
  opacity: 1;
  transform: scale(1);
}
.overlay{
  position: absolute;
  background-color: rgba(197, 152, 122,0.6) ;
  width: 400px;
  height: 375px;
  top: 0;
  left: -10px !important;
  transform: scale(1.3);
  opacity: 0;
  transition: transform .4s ease 0s;
}
.overlay span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*font-weight: bold;*/
  font-size: 25px;
  /*color: #fff;*/
  /*font-family: Sans-serif;*/
}

.part1 img{
  transition: transform .8s ease;
}

.part1:hover img{
  transform: scale(1.1);
}
 .nav-item:hover{
	color: yellow;
}
.nav-link{
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;}